:root {
    --blanco: #fff;
    --ColorFondo: #cfe1f2;
    --amarilloOscuro: #fed013;
    --amarillo: #fefbe6;
    --gris: #575e6b;
    --grisIcono: #68768f;
    --grisclaro: #b5b5b5;
    --azulTitulo: #1e3e73;
    --azulOscuro: #3352d0;
    --azulImg: #2872df;
    --azul: #e3e8ff;

    --fuenteTitulos: 'Source Sans Pro', sans-serif;
    --fuenteContenido: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: var(--ColorFondo);
}

/*Globales*/

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--fuenteTitulos);
    color: var(--azulTitulo);
}

h1,
h2 {
    text-transform: capitalize;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

p,
a {
    font-family: var(--fuenteContenido);
    color: var(--gris);
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

img {
    width: 100%;
}



/*Utilidades*/

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper {
    text-transform: uppercase;
}

.fondo-img {
    color: var(--azulOscuro);
    background-color: var(--azul);
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.capitalize {
    text-transform: capitalize;
}

/*Header*/

.header {
    position: absolute;
    width: 99%;
    opacity: 0.85;
    background-color: var(--blanco);
    align-items: center;
    gap: 2rem;

}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    .header__logo {
        width: 50%;
    }
}

.nav {
    gap: 2rem;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
    }
}

.nav__enlace {
    padding: 1rem;
    font-size: 1.8rem;
}

.nav__enlace:hover {
    text-decoration: underline;
}

.button {
    color: var(--blanco);
    padding: 1rem 3rem;
    border-style: none;
    border-radius: .7rem;
    box-shadow: 2px 5px 24px 5px rgba(133, 162, 232, 1);
    -webkit-box-shadow: 2px 5px 24px 5px rgba(133, 162, 232, 1);
    -moz-box-shadow: 2px 5px 24px 5px rgba(133, 162, 232, 1);
    background-color: #3657d5;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .button {
        margin-bottom: 0;
    }
}

/*Vacunacion*/

.img-fondo {
    position: absolute;
}

.img-fondo-top {
    top: 42rem;
    left: 0;
    width: 35%;
    height: 10%;
}

@media (min-width: 768px) {
    .img-fondo-top {
        top: 12rem;
        width: 20%;
        height: 10%;
    }
}

.img-fondo-right {
    top: 65rem;
    right: 10rem;
    height: 50%;
    width: 25%;
}

@media (min-width: 768px) {
    .img-fondo-right {
        top: 45rem;
        right: 0;
        height: 25%;
        width: 15%;
    }
}

@media (min-width: 992px) {
    .img-fondo-right {
        top: 65rem;
        left: 35rem;
        height: 35%;
        width: 15%;
    }
}

@media (min-width: 1200px) {
    .img-fondo-right {
        top: 45rem;
        left: 64rem;
        height: 35%;
        width: 10%;
    }
}

@media (min-width: 992px) {
    .vacunacion {
        flex-direction: row;
        gap: 15rem;
    }
}

/*Vacunacion Contenido*/

.vacunacion__contenido {
    margin-top: 35rem;
}

@media (min-width: 768px) {
    .vacunacion__contenido {
        margin-top: 5rem;
    }
}

.vacunacion__titulo {
    margin-top: 15rem;
}

@media (min-width: 768px) {
    .vacunacion__titulo {
        margin-top: 20rem;
    }
}

.vacunacion__titulo span {
    display: block;
}

.vacunacion__texto {
    font-size: 1.8rem;
}

.vacunacion__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.vacunacion__info p {
    color: var(--azulTitulo);
}

.vacunacion__info:last-child {
    margin: 13rem 0 20rem;
    font-weight: bold;
}

.vacunacion__info-beneficios {
    display: flex;
    gap: 1rem;
}

.vacunacion__info-beneficios:last-child {
    margin-left: 3rem;
}

.bi-shield-check,
.bi-star-fill {
    color: var(--amarilloOscuro);
    padding: 1rem;
    -webkit-box-shadow: -1px 6px 16px 1px rgba(242, 231, 162, 1);
    -moz-box-shadow: -1px 6px 16px 1px rgba(242, 231, 162, 1);
    box-shadow: -1px 6px 16px 1px rgba(242, 231, 162, 1);
    background-color: var(--amarillo);
}

.bi-clock-fill {
    box-shadow: 1px 9px 17px 5px rgba(166, 176, 217, 1);
    -webkit-box-shadow: 1px 9px 17px 5px rgba(166, 176, 217, 1);
    -moz-box-shadow: 1px 9px 17px 5px rgba(166, 176, 217, 1);
}

.bi-shield-check,
.bi-star-fill,
.bi-clock-fill {
    border-color: var(--blanco);
    border-style: double;
}

.vacunacion__img {
    background-color: var(--azulImg);
    padding: 10rem 2rem 2rem;
}

@media (min-width: 992px) {
    .vacunacion__img {
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 40rem 2rem 4rem;
    }
}

/*Calendario*/

.calendario {
    position: absolute;
    top: 106rem;
    padding: 1rem;
    opacity: 0.85;
    width: 100%;
    gap: 2rem;
    border-radius: 0.5rem;
    background-color: var(--blanco);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) {
    .calendario {
        grid-template-columns: repeat(4, 1fr);
        width: auto;
        top: 80rem;
        left: 4.5rem;
        padding: 1.5rem 3rem;
    }
}

@media (min-width: 992px) {
    .calendario {
        top: 98rem;
        left: 5rem;
        padding: 1rem 2.5rem 1rem 5rem;
    }
}

@media (min-width: 1200px) {
    .calendario {
        top: 82rem;
        left: 8rem;
        padding: 1rem 8rem;
    }
}

.calendario__sub {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.calendario__texto {
    font-family: var(--fuenteTitulos);
    color: var(--azulTitulo);
    font-weight: bold;
}

@media (min-width: 768px) {
    .calendario__texto {
        margin-left: 4.5rem;
    }
}

.calendario__button {
    grid-column: 1 / 4;
}

@media (min-width: 768px) {
    .calendario__button {
        grid-column: 4;
    }
}

.calendario__button input {
    width: 100%;
}

@media (min-width: 768px) {
    .calendario__button input {
        padding: 1.5rem 4rem;
        margin-top: 2.5rem;
        margin-left: 1.5rem;
    }
}

/* Sección 2*/

.seccion2__imagenes {
    margin: 5rem 0;
    opacity: 0.4;
    gap: 3rem;
}

@media (min-width: 786px) {
    .seccion2__imagenes {
        flex-direction: row;
    }
}

.seccion2__info {
    margin-top: 15rem;
}

@media (min-width: 992px) {
    .span {
        display: block;
    }
}

.seccion2__beneficios {
    align-items: flex-start;
}

@media (min-width: 768px) {
    .seccion2__beneficios {
        flex-direction: row;
        gap: 2rem;
    }
}

.seccion2__beneficios-item {
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--grisclaro);
    margin: 2rem 0 2.5rem;
}

@media (min-width: 768px) {
    .seccion2__beneficios-item {
        height: 35rem;
    }
}

@media (min-width: 992px) {
    .seccion2__beneficios-item {
        height: 27rem;
    }
}

.seccion2__beneficios-item:hover {
    box-shadow: 2px 3px 19px 4px rgba(130, 157, 219, 0.66);
    -webkit-box-shadow: 2px 3px 19px 4px rgba(130, 157, 219, 0.66);
    -moz-box-shadow: 2px 3px 19px 4px rgba(130, 157, 219, 0.66);
}

.seccion2__beneficios-item svg {
    border-color: var(--blanco);
    border-style: double;
}

/*Sección 3*/

.seccion3 {
    margin-top: 5rem;
}

@media (min-width: 992px) {
    .seccion3 {
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
    }
}

.seccion3__img {
    width: 90%;
}

@media (min-width: 992px) {
    .seccion3__img {
        width: 150%;
    }
}

.seccion3__preparacion {
    padding: 3rem;
}

.seccion3__preparacion-item {
    border-radius: .5rem;
    padding: 1.5rem;
    border: 2px solid var(--grisclaro);
    margin: 2rem 0;
    box-shadow: 13px 16px 8px -10px rgba(151, 151, 151, 0.75);
    -webkit-box-shadow: 13px 16px 8px -10px rgba(151, 151, 151, 0.75);
    -moz-box-shadow: 13px 16px 8px -10px rgba(151, 151, 151, 0.75);
}


.seccion3__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seccion3__flex-titulo {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.img-rotacion {
    display: none;
}

label:hover {
    cursor: pointer;
}

.img-rotacion label svg {
    color: var(--azulImg);
    transition: linear .45s;
}

.img-rotacion:checked~label svg {
    rotate: 180deg;
    color: var(--grisIcono);
    transition: linear .45s;
    cursor: auto;
}

/*Sección 4*/

.seccion4 {
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .seccion4 {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
}

.seccion4__texto {
    margin-bottom: 8rem;
}

.seccion4__datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.seccion4__datos-inf {
    padding: 2rem;
    border: 1px solid var(--grisclaro);
    border-radius: .5rem;
    box-shadow: 16px 11px 22px -16px rgba(179, 179, 179, 0.75);
    -webkit-box-shadow: 16px 11px 22px -16px rgba(179, 179, 179, 0.75);
    -moz-box-shadow: 16px 11px 22px -16px rgba(179, 179, 179, 0.75);
}

.seccion4__datos-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.seccion4__button {
    width: 100%;
    padding: 1rem;
    color: var(--azulOscuro);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--azul);
    border-style: none;
    border-radius: .5rem;
}

.seccion4__button:hover {
    cursor: pointer;
    color: var(--blanco);
    background-color: var(--azulImg);
}

.seccion4__img {
    width: 80%;
}

@media (min-width: 992px) {
    .seccion4__img {
        width: 50%;
    }
}

/*Footer*/
.footer {
    margin-top: 10rem;
    padding: 2rem;
    background-color: #eef3ff;
    gap: 5rem;
}

@media (min-width: 992px) {
    .footer__img {
        width: 50%;
    }
}

.footer__sup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

@media (min-width: 992px) {
    .footer__sup {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 6rem;
    }
}

.footer__enlaces {
    display: flex;
    gap: 3rem;
}

.footer__enlaces-a {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 992px) {
    .footer__texto p {
        margin-left: 1rem;
    }
}

@media (min-width: 992px) {
    .footer__texto-block {
        display: block;
    }
}

.footer__copyright {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

@media (min-width: 992px) {
    .footer__copyright p {
        margin-left: 14rem;
    }

    .footer__copyright div {
        margin-right: 13rem;
    }
}

.footer__copyright-items {
    display: flex;
    gap: 5rem;

}